#!/bin/sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

# Fix Gnome Apps Slow  Start due to failing services
# Add this when you include flatpak in your system
# dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

# (Está sendo eecutado no i3) #Se há um monitor conectado ao notebook, coloca ele na direita do note
# [ $(xrandr --listmonitors | head -n 1 | awk '{print $2}') -eq 2 ] && xrandr --output LVDS1 --auto --output VGA1 --auto --right-of LVDS1

#xrdb ${XDG_CONFIG_HOME:-$HOME/.config}/Xresources &	# Uncomment to use Xresources colors/settings on startup

unclutter &		# Remove mouse when idle
numlockx off & # Turn off numlock
setuptablet # Map drawing tablet to first monitor only

# Desabilita screensaver
# xset s off * &
# xset s noblank &
# xset -dpms&
# xset s off -dpms
